.card {
    padding: 20px;
    margin: 10px;
    border: 1px solid teal;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 15px 0;
    }

    button {
        padding: 10px;
        align-self: flex-end;
    }
}